<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PM25.Chart</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.5.0/echarts.min.js"></script>
  </head>
  <body>
    <h1>PM2.5全省數據圖表</h1>
    <div>
      <button id="updateData" onclick="drawPM25()">更新資料</button>
    </div>
    <div id="main" style="width: 1080px; height: 960px"></div>

    <div id="six" style="width: 1080px; height: 720px"></div>
    <script src="../static/main.js"></script>
  </body>
</html>
